.login__box {
  width: 100%;
  padding: 10px 50px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2px;
}

.imageBx {
  max-width: 400px;
  min-width: 100px;
  text-align: center;
  margin: 10px auto 30px;
  overflow: hidden;
}

.imageBx > img {
  width: 100%;
  max-width: 370px;
}

#addTodoimage {
  margin: 0px auto;
}

@media screen and (min-width: 0px) and (max-width: 290px) {
  .login__box {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .login__box {
    padding-left: 10px;
    padding-right: 10px;
  }
}
